<img src="https://image.similarpng.com/very-thumbnail/2020/04/Floating-burger-PNG.png" alt="burger picture">
<h1>Eat-Da-Burger!</h1>

<h2>Burgers I need to eat!</h2>

<ul>
  {{#each burgers}}
  {{#unless notEaten}}
  {{> burgers/burger-block notEaten=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I've eaten!</h2>

<ul>
  {{#each cats}}
  {{#if notEaten}}
  {{> burgers/burger-block notEaten=false}}
  {{/if}}
  {{/each}}
</ul>

<form class="create-form">
  <input type="text" id="ca" name="name">
  <button type="submit">Add Burger</button>
</form>