<div class="burgerImg">
<img src="assets/img/hamburger2.png" alt="burger pictuer">  
</div>
<h1>Eat-Da-Burger!</h1>

<section class="notEaten">
  <h2>Burgers I've eaten!</h2>
  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=0}}
    {{/unless}}
    {{/each}}
  </ul>
</section>

<section class="eaten">
  <h2>Burgers I need to eat!</h2>
  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=1}}
    {{/if}}
    {{/each}}
  </ul>
</section>

<form class="create-form">
  <input type="text" id="bu" name="name">
  <button class="addBurger" type="submit">Add Burger</button>
</form>