body {
  background-color: darkcyan;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.eaten {
  background-color: darkgoldenrod;
  width: 35%;
  
  /* clear: both; */
}

.notEaten {
  background-color: darkgray;
  width: 35%;
  float: right;
  padding-top: 0;

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.create-form {
  margin-bottom: 5px;
  clear: both;
  text-align: center;
}
