body {
  background-image: url("../img/background5.png");
  font-size: 20px;
  margin: 0;
}

.header {
  background-image: url("../img/Burger-Restaurant-Backgrounds.jpg");
  background-size: 100% 150%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

img {
  margin-top: 20px;
  text-align: center;
  width: 30%;
  height: auto;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  color: rgb(94, 249, 94);
  font-size: 70px;
}

h2 {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
}

.eaten {
  width: 35%;
  margin-left: 10%;
}

.notEaten {
  width: 35%;
  float: right;
  padding-top: 0;
  margin-right: 10%;

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.change-eat {
  float: right;
}

.create-form {
  margin-top: 50px;
  margin-bottom: 5px;
  clear: both;
  text-align: center;
}

#bu {
  height: 24px;
  width: auto;
}

.addBurger {
  height: 30px;
  width: auto;
  font-size: 18px;
  font-weight: bold;
}