{{!-- Create list items in proper columns with or without a DEVOUR button --}}
<li>
	{{burger_name}}

	{{#if devoured}}
	<button class="change-eat" data-id="{{id}}" data-newEat="{{devoured}}">DEVOUR!</button>
	{{/if}}
</li>